<div class="container form-box">
  <div class="form-content">
<%= attachment_image_tag current_user, :image, fallback: "no-image.jpeg",class: "icon"%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
   <div class="input-box">
    <%= f.text_field :name, autofocus: true,class: "input" %>
  </div>
  
  <div class="input-box">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input"%>
  </div>
  
   <div class="input-box">
    <%= f.text_area :profile, autocomplete: "profile",class: "profile-input"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-box">
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
    </br>
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "パスワード 変更したくない場合は空白",class: "input"%>
  </div>

  <div class="input-box">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "確認用パスワード",class: "input"%>
  </div>
  
   <div class="input-box">
    <%= f.password_field :current_password, autocomplete: "current-password",placeholder: "編集するには現在のパスワードを入力してください", class: "input"%>
  </div>
  
   <div class="input-box">
    <%= f.attachment_field :image %>
  </div>
  
    <%= f.submit "更新する", class: "btn" %>

<% end %>
<div class="text-left">
<p><%= button_to "アカウント削除", registration_path(resource_name),
data: { confirm: "本当にアカウントを削除しますか？" }, class: "delete-btn",method: :delete %></p>
</div>
<%= link_to "戻る", :back %>
</div>
</div>

