<div class="container form-box">
  <div class="form-content">
  <h4>ユーザー登録</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="input-box">
      <%= f.text_field :name, autofocus: true,  placeholder: "氏名*", class: "input" %>
    </div>
    <div class="input-box">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス*", class: "input"%>
    </div>
    <div class="input-box">
      <%= f.text_area :profile, autocomplete: "profile",placeholder: "自己紹介(80文字以内)", class: "profile-input"%>
    </div>
    <div class="input-box">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)*",class: "input"%>
    </div>
    <div class="input-box">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードの確認*", class: "input"%>
    </div> 
    <div class="input-box">
      <%= f.attachment_field :image %>
    </div>
      <%= f.submit "登録", class: "btn" %>
  <% end %>
  </div>
</div>