<div class="container">
<img src="/assets/show.jpeg" width="100%" height="100px">

<div class="show-content">
<%= attachment_image_tag @user, :image, fallback: "no-image.jpeg", class: "user-image" %>
<div class="pl-4">
<h5><%= @user.name %></h5>
<strong>称号 <%= degree(@user.level) %></strong>
<div class="user-relation pt-2">
<%= link_to "フォロー", following_user_path(@user) %>
<strong id="following">
<%= @user.following.count %>
</strong>
<%= link_to "フォロワー", followers_user_path(@user) %>
<strong id="followers">
<%= @user.followers.count %>
</strong>

</div>

</div>
</div>

