<div class="container">
<h5>habitモデルを一気に更新する</h5>
<h5>複数のcheck_boxをフォームに送信したい</h5>
<%= @user.name %>

<%= form_with(model: @user,url: complete_user_path, local: true) do |f|%>
<% @user.habits.each do |habit|%>
<%= f.label habit.task %>
<%= f.check_box 'complete[]' %>
<% end %>
<%= f.submit "送信"%>
<% end %>
</div>