<div class="container complete-box">
<%= form_with(model: @user,url: complete_user_path, local: true) do |f|%>
<div class="complete-content">
<%= f.collection_check_boxes :habit_ids, @user.habits,:id,:task,checked: false do |b| %>
<%= b.label do %>
<%= b.text %>
<%= b.check_box %>
<% end %>
<% end %>
<div class="input-text-box">
 <%= f.text_area :content, placeholder: "空でもOK", size: "40x7"%>
 <div class="pt-3">
 <%= f.label :private %>
 <%= f.check_box :private %>
 </div>
</div>
<%= f.submit "送信",class: "btn"%>
<% end %>
</div>

</div>