<% @user ||= current_user %>
<% time_out?(@user) %>
<div class="container-lg login-index">
<div class="index-content">
<h5 class="mt-2 mb-5">継続は力なり<i class="fa fa-flag "></i></h5>
<div class="habit-list mb-3">
<div class="user-name">
<%= attachment_image_tag @user, :image, fallback: "no-image.jpeg",class: "mini-icon"%>
<i class="pl-2"><%= link_to @user.name, @user %></i>
<strong>称号 <%= degree(@user.level) %></strong>
</div>
<% if @user.habits.empty? %>
<div class="not-habit">なし</div>
<% else %>
<div class="habit-list-item">
<% @user.habits.each do |habit| %>
<div data-option="<%= habit.id %> "class="habit-show"><%= habit.task %></div>

<div class="habit-modal habit-id<%= habit.id %>">
  
<div class="modal-box">
 <p class="pb-4 modal-task">習慣 <%= habit.task %></p>
 <div class="modal-item">
 <p>週 <%= habit.frequency %>回</p>
 <p>達成(週) <%= habit.complete %>回</p>
 <p>終了日時 <%= habit.end_time %>日</p>
 </div>
<div class="close-modal">
  <i class="fa fa-2x fa-times"></i>
</div>

</div>
</div>

<% end %>
</div>
<% end %>
</div>


<div class="button">
<%= link_to "記録する", mission_user_path(@user) %>
</div>
</div>
</div>