<div class="about-box">
  <p class="display ">習慣を登録する<i class="fa fa-hand-o-up "></i></p>
  <div class="video">
    <%= video_tag("/videos/habit-create.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>
    <p class="display">記録する<i class="fa fa-hand-o-up "></i></p>
  <div class="video">
    <%= video_tag("/videos/record.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>
    <p  class="display">投稿する(公開 or 非公開) 投稿を見る<i class="fa fa-hand-o-up "></i></p>
  <div class="video">
    <%= video_tag("/videos/post.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>
    <p  class="display">フォローしてるユーザーが習慣を実行できなかった時通知が届く<i class="fa fa-hand-o-up "></i></p>
  <div class="video">
    <%= video_tag("/videos/notification.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>
    <p  class="display">習慣を実行できなかった時フォロワーに通知が送られ、レベルが下がる<i class="fa fa-hand-o-up "></i></p>
  <div class="video">
    <%= video_tag("/videos/level-down.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>
</div>