<div class="about-box">
<p>習慣を登録する</p>
<%= video_tag("/videos/habit-create.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
<p>記録する</p>
<%= video_tag("/videos/record.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
<p>投稿する(公開 or 非公開) 投稿を見る</p>
<%= video_tag("/videos/post.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
<p>週の回数をこなせなかったフォロワーに通知が送られる</p>
<%= video_tag("/videos/notification.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
<p>週の回数をこなせなかった時levelが下がる</p>
<%= video_tag("/videos/level-down.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
</div>