<div class="container post-users">
<% if @title == "みんなの投稿" %>
<div class="change-box">
<i><%= @title %></i>
<div class="change-btn">
<%= link_to "", follow_users_post_path(current_user), class: "fa fa-heart"%>
</div>
</div>
<% else %>
<div class="change-box">
<i><%= @title %></i>
<div class="change-btn">
<%= link_to "", posts_path, class: "fa fa-heart-o" %>
</div>
</div>
<% end %>

<% @posts.each do |post| %>
<div class="post-items-box">
<div class="post-items">
 <div class="post-user">
<%= attachment_image_tag post.user, :image, fallback: "no-image.jpeg",class: "normal-icon"%>
<div class="pl-4">
<%= link_to post.user.name, post.user %>
<div>Lv. <%= post.user.level %></div>

</div>
</div>
<div class="post-content-box">
<div class="post-content"><%= post.content %></div>
</div>
</div>
<div class="ago-time">
<% if current_user?(post.user) %>
<%= link_to "削除", post_path(post), method: :delete, data: { confirm: 'この投稿を削除しますか？'} %>
<% end %>
<%= post.how_long_ago %>
</div>
</div>
<% end %>
</div>
<%= paginate @posts %>
