<div class="container post-users">
<% @posts.each do |post| %>
<div class="post-items-box">
<div class="post-items">
 <div class="post-user">
<%= attachment_image_tag post.user, :image, fallback: "no-image.jpeg",class: "normal-icon"%>
<div class="pl-4">
<%= link_to post.user.name, post.user %>
<div>Lv. <%= post.user.level %></div>
<% if current_user == post.user %>
<%= link_to "削除", post_path(post), method: :delete, data: { confirm: 'この投稿を削除しますか？'} %>
<% end %>
</div>
</div>

<div class="post-content">
<%= post.content %>
</div>
</div>
<div class="ago-time">コメントを送る <%= post.how_long_ago %></div>
</div>
<% end %>
</div>

<%= paginate @posts %>