<% unless @private_posts.empty? %>
 <div class="container post-users">
  <% @private_posts.each do |private_post|%>
     <div class="private-box">
      <div class="private-item">
    <%= attachment_image_tag private_post.user, :image, fallback: "no-image.jpeg",class: "normal-icon"%>
      <l class="pl-4"><%= private_post.content %></l>
      <div class="ago-time"><%= private_post.how_long_ago %></div>
      </div>
       </div>
    <% end %>
 <%= paginate @private_posts %>
 </div>
 <% else %>
 <div class="no-item">
 <p>非公開の投稿はありません</p>
 <%= link_to "記録する", mission_user_path(@user) %>
 </div>
 <% end %>
