<%= form_with(model: @habit, local: true) do |f| %>

<div class="form-box pt-3">

<div class="form-item">
<%= f.label :task, 'タスク', class: "label" %>
<%= f.text_field :task %>
</div>

<div class="form-item">
<%= f.label :frequency, '週に何回やりますか？', class: "label" %>
<%= f.number_field :frequency, in: 1..7 %>
</div>

<%= f.hidden_field :user_id, value: current_user.id %>

<%= f.submit "登録", class: "btn btn-primary m-5" %>

<% end %>
</div>